[Feature] Additional joi validation

**Description:**
Would you consider a PR for the ability to add additional Joi validation to the converted schemas?
Joi supports this using [schema concatenation](https://github.com/hapijs/joi/blob/v14.1.0/API.md#anyconcatschema). So it will be something like:
```[javascript]
resolve(schema = this.root, joiSchema = this.additionalValidation) {
    if (schema.type) {
        return joiSchema ?
            this.resolveType(schema).concat(joiSchema) :
            this.resolveType(schema);
    }
...
```
This will give great flexibility to `Enjoi` by enabling the use of the full potential of `Joi`.

**Background:**
In our project we need to have more precise validation than what JSON Schema provides. E.g. for dates we want not only to match the `YYYY-MM-DD` format from RFC3339 Section 5.6, but also apply the restrictions from Section 5.7 - forbid the 31st day for Feb, Apr, etc.

Could you not do this by simply using `refineType` with a more custom `format` ?

You can also use the extensions feature. That might behave more like you are wanting because you can fully extend joi that way.

I’m happy to look at a PR still. Depending on how it fits in with the theme of enjoi I don’t see an issue with accepting such a change. 